<p>user-detail works!</p>
<div class="form-wrapper">
    <div style="margin-left: 10px;">
        Name:
        <input type="text" name="name" id="name" [(ngModel)]="name">
    </div>
    <div style="margin-left: 10px;">Age: <input type="number" name="age" id="age" [(ngModel)]="age"></div>
    <div style="margin-left: 10px;"><button (click)="addUserToList()" >Add User :</button></div>

</div>
<h3>User List Here :</h3>
<div class="wrapper">
    <div class="user-detail-wapper" *ngfor="let user of UserDetails">
        <div class="user-detail">Name : {{user.name}} </div>
        <div class="user-detail" [ngClass]="user.gender == 'femail' ? 'female' : 'male'">Gender : {{user.gender}}</div>
        <div class="user-detail" >Age : {{user.age}}</div>
    </div>
</div>